name: CI - .NET Build & Test

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Clonar el repositorio
      uses: actions/checkout@v3

    - name: Instalar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' # Ajustar a tu versión real si usás otra

    - name: Restaurar dependencias
      run: dotnet restore

    - name: Compilar la solución
      run: dotnet build --no-restore --configuration Release

